<%- include('../common/head.ejs') %>
    <div class="wrapper allproducts_wrapper">
      <div class="loading_screen"><img src="/images/loading gif.gif" class="loading_gif" alt=""></div>
      <%- include('../common/top_nav.ejs') %>
      
    <div class="all_products_content">
        <section class="top_sec">
            <h4>FILTERS</h4>
            <div class="sort_by_div">
                <p class="sort_recomended">Sort By : Recomended<i class="bi bi-chevron-down"></i></p>
                <ul class="sort_ul">
                    <li onclick="filterProducts('lowtohigh')">Low to High</a></li>
                    <li onclick="filterProducts('hightolow')">High to Low</li>
                </ul>
            </div>
        </section>

        <div class="bottom_products_div">
        <form action="">
            <div class="filter_section">

                <div class="filter_sec cat_sec">
                    <h4>Category</h4>
                      <ul>
                        <%categoryDetails.forEach((category)=>{%>
                        <li><input type="radio" style="cursor: pointer;" class="input_cat" value="<%=category.categoryName%>" name="category" id="mens"><label for="<%=category.categoryName%>"><%=category.categoryName%></label></li>
                      <%})%>
                      </ul>
                </div>
                <div class="filter_sec price_sec">
                    <h4>Price</h4>
                    <ul>
                        <li><input type="radio" style="cursor: pointer;" class="input_price" value="0,500" name="price" id="500" ><label for="500">Under ₹500</label></li>
                        <li><input type="radio" style="cursor: pointer;" class="input_price" value="500,1000" name="price" id="1000" ><label for="1000">₹500 - ₹1000</label></li>
                        <li><input type="radio" style="cursor: pointer;" class="input_price" value="1000,1500" name="price" id="1500" ><label for="1500">₹1000 - ₹1500</label></li>
                        <li><input type="radio" style="cursor: pointer;" class="input_price" value="1500,2500" name="price" id="2500" ><label for="2500">₹1500 - ₹2500</label></li>
                        <li><input type="radio" style="cursor: pointer;" class="input_price" value="2500,100000" name="price" id="3000" ><label for="3000">Over ₹2,500</label></li>
                      </ul>
                </div>
                

            </div>
        </form>

        <%if(products.length==0){%>
          <h4 style="width: 100%;height: 100%;;display: flex;justify-content: center;align-items: center;">No Products</h4>

        <%}else{%>
  <div class="product_section">
    

     <%products.forEach((product)=>{%>

               <div class="product_frame_grid" >
                 <a onclick="window.location.href='/user/viewproduct?id=<%= product._id %>'">
                 <div class="top">
                    <button class="wish_btn" onclick="addtoWishlist(event,'<%= product._id %>')">
                       <i class="biwish_icon<%= product._id %> <%= (() => {
                         const productIdObjectId = product._id.toString();
                         const isProductInWishList = wishlist && wishlist.productsid && wishlist.productsid.find(product => product.productid == productIdObjectId);
                         return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                       })() %>"></i>
                    </button>
                    <img src="/uploads/products/<%= product.productImage[0] %>" style="width: 90%; height: 90%;margin-top: 20%;" alt="">
                  </div>
                  <div class="center">
                    <div class="name_div">
                    <p class="product_name"><%=product.productName%></p>
                    </div>
                    <div class="price_div">
                       <p class="old_price"><i class="bi bi-currency-rupee"></i><%=product.price%></p>
                       <p class="new_price"><i class="bi bi-currency-rupee"></i><%=product.discount%></p>
                    </div>
                 </div>
                 <div class="bottom"><button  class="addto_cart_btn addto_cart_btn"><i class="bi "></i>V I E W</button>
                 </div>  
                 </a>                   
              </div>
              <% }) %>
              
             

           </div>   
           <%}%>   

        </div>
      </div>

      <div class="pagination_div">
      <div class="link_pagination">
        <button class="back_btn" onclick="prevpage(event,'<%=pageNumber%>')"><i class="bi bi-chevron-left"></i></button>
          <div class="links">
              <button class="page_btn active_link" value="<%=pageNumber%>"><%=pageNumber%></button>
           </div>
          <button class="next_btn" onclick="nextpage(event,'<%=pageNumber%>')"><a ><i class="bi bi-chevron-right"></i></a></button>
      </div>
    </div>

    <%- include('../common/footer.ejs') %>
   </div>

   <script>
    async function addtoWishlist(event, id) {
      event.preventDefault();
      event.stopPropagation(); 
      try {
        const response = await fetch(`/user/addtowishlist?productid=${id}`, { method: 'GET', headers: { 'Content-Type': "application/json" } });
        const result = await response.json();
        if(result.success){
          const path = document.querySelector('.biwish_icon'+id);
          if(path.classList.contains('bi-heart')){
            path.classList.replace('bi-heart','bi-heart-fill');
          }else{
            path.classList.replace('bi-heart-fill','bi-heart');
          }
          const count = result.count;
          const wishCount = document.getElementById('wish-Count');
          if (wishCount) {
            wishCount.innerHTML = count;
          } else {
            console.error("Element with ID 'wish-count' not found.");
          }
        }else{
          window.location.href="/user/login";
        }
      } catch (error) {
        console.error('Error adding product:', error);
      }
    }

    let category='';
    
    document.addEventListener("DOMContentLoaded", function () {
    const categoryRadios = document.querySelectorAll('.input_cat');
    const priceRadios = document.querySelectorAll('.input_price');

    categoryRadios.forEach(function (radio) {
        radio.addEventListener('change', function (event) {
            const selectedCategory = event.target.value;
            category=selectedCategory;
            const selectedPriceElement = document.querySelector('.input_price:checked');
            const selectedPrice = selectedPriceElement ? selectedPriceElement.value : null
            filterByCategory(selectedPrice,selectedCategory);
        });
    });

    priceRadios.forEach(function (radio) {
    radio.addEventListener('change', function (event) {
        const selectedPrice = event.target.value;
        const selectedCategoryElement = document.querySelector('.input_cat:checked');
        const selectedCategory = selectedCategoryElement ? selectedCategoryElement.value : null;

        filterByPrice(selectedPrice, selectedCategory);
    });
});



    async function filterByCategory(price,category) {
    try {
        const selectedPrice = price ? price : null;
        const response = await fetch(`/user/filterproduct?category=${category}&price=${selectedPrice}`, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' }
        });
        const result = await response.json();
        console.log('Filter by category result:', result); // Debugging statement
        if (result.success) {
            const wishlist=result.wishlist;
            const productSection = document.querySelector('.product_section');
            productSection.innerHTML = ''; // Clear previous products
            result.product.forEach(product => {
                // Create and append product elements
                const productFrameGrid = document.createElement('div');
                productFrameGrid.className = 'product_frame_grid';
                productFrameGrid.innerHTML = `
                    <a onclick="window.location.href='/user/viewproduct?id=${product._id}'">
                        <div class="top">
                            <button class="wish_btn" onclick="addtoWishlist(event,'${product._id}')">
                                <i class="biwish_icon${product._id} ${
                                    wishlist &&
                                    wishlist.productsid &&
                                    wishlist.productsid.find(
                                        wishlistProduct => wishlistProduct.productid == product._id.toString()
                                    )
                                        ? 'bi-heart-fill'
                                        : 'bi-heart'
                                }"></i>
                            </button>
                            <img src="/uploads/products/${product.productImage[0]}" style="width: 75%; height: 90%;" alt="">
                        </div>
                        <div class="center">
                            <div class="name_div">
                                <p class="product_name">${product.productName}</p>
                            </div>
                            <div class="price_div">
                                <p class="old_price"><i class="bi bi-currency-rupee"></i>${product.price}</p>
                                <p class="new_price"><i class="bi bi-currency-rupee"></i>${product.discount}</p>
                            </div>
                        </div>
                        <div class="bottom"><button  class="addto_cart_btn addto_cart_btn"><i class="bi "></i>V I E W</button></div>
                    </a>
                `;
                productSection.appendChild(productFrameGrid);
            });
        } else {
            console.error("Error filtering products:", result.message);
        }
    } catch (error) {
        console.error('Error filtering products:', error);
    }
}
    
    


async function filterByPrice(price, category) {
    try {
        const selectedCategory = category ? category : null;
        const response = await fetch(`/user/filterproduct?category=${selectedCategory}&price=${price}`, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' }
        });
        const result = await response.json();
        console.log('Filter by price result:', result); // Debugging statement
        if (result.success) {
            const wishlist = result.wishlist;
            const productSection = document.querySelector('.product_section');
            productSection.innerHTML = ''; // Clear previous products
            result.product.forEach(product => {
                // Create and append product elements
                const productFrameGrid = document.createElement('div');
                productFrameGrid.className = 'product_frame_grid';
                productFrameGrid.innerHTML = `
                    <a onclick="window.location.href='/user/viewproduct?id=${product._id}'">
                        <div class="top">
                            <button class="wish_btn" onclick="addtoWishlist(event,'${product._id}')">
                                <i class="biwish_icon${product._id} ${
                                    wishlist &&
                                    wishlist.productsid &&
                                    wishlist.productsid.find(
                                        wishlistProduct => wishlistProduct.productid == product._id.toString()
                                    )
                                        ? 'bi-heart-fill'
                                        : 'bi-heart'
                                }"></i>
                            </button>
                            <img src="/uploads/products/${product.productImage[0]}" style="width: 75%; height: 90%;" alt="">
                        </div>
                        <div class="center">
                            <div class="name_div">
                                <p class="product_name">${product.productName}</p>
                            </div>
                            <div class="price_div">
                                <p class="old_price"><i class="bi bi-currency-rupee"></i>${product.price}</p>
                                <p class="new_price"><i class="bi bi-currency-rupee"></i>${product.discount}</p>
                            </div>
                        </div>
                        <div class="bottom"><button  class="addto_cart_btn addto_cart_btn"><i class="bi "></i>V I E W</button></div>
                    </a>
                `;
                productSection.appendChild(productFrameGrid);
            });
        } else {
            console.error("Error filtering products:", result.message);
        }
    } catch (error) {
        console.error('Error filtering products:', error);
    }
}


    })

    async function filterProducts(sortOrder) {
    try {
        const response = await fetch(`/user/filterPrice?sortOrder=${sortOrder}`, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' }
        });
        const result = await response.json();
        console.log('Filter products result:', result); // Debugging statement
        if (result.success) {
            const wishlist = result.wishlist;
            const productSection = document.querySelector('.product_section');
            productSection.innerHTML = ''; // Clear previous products
            result.products.forEach(product => {
                // Create and append product elements
                const productFrameGrid = document.createElement('div');
                productFrameGrid.className = 'product_frame_grid';
                productFrameGrid.innerHTML = `
                    <a onclick="window.location.href='/user/viewproduct?id=${product._id}'">
                        <div class="top">
                            <button class="wish_btn" onclick="addtoWishlist(event,'${product._id}')">
                                <i class="biwish_icon${product._id} ${
                                    wishlist &&
                                    wishlist.productsid &&
                                    wishlist.productsid.find(
                                        wishlistProduct => wishlistProduct.productid == product._id.toString()
                                    )
                                        ? 'bi-heart-fill'
                                        : 'bi-heart'
                                }"></i>
                            </button>
                            <img src="/uploads/products/${product.productImage[0]}" style="width: 75%; height: 90%;" alt="">
                        </div>
                        <div class="center">
                            <div class="name_div">
                                <p class="product_name">${product.productName}</p>
                            </div>
                            <div class="price_div">
                                <p class="old_price"><i class="bi bi-currency-rupee"></i>${product.price}</p>
                                <p class="new_price"><i class="bi bi-currency-rupee"></i>${product.discount}</p>
                            </div>
                        </div>
                        <div class="bottom"><button  class="addto_cart_btn addto_cart_btn"><i class="bi "></i>V I E W</button></div>
                    </a>
                `;
                productSection.appendChild(productFrameGrid);
            });
        } else {
            console.error("Error filtering products:", result.message);
        }
    } catch (error) {
        console.error('Error filtering products:', error);
    }
}

async function prevpage(event, page) {
    try {
        event.preventDefault();
        let pageNumber = parseInt(page);
        if (pageNumber > 1) {
            pageNumber--;
        }
        let prevPageURL='';
        const selectedCategoryElement = document.querySelector('.input_cat:checked');
        const selectedCategory = selectedCategoryElement ? selectedCategoryElement.value : null;
        if(selectedCategory!=='null'){
            prevPageURL = `/user/pagination?page=${pageNumber}&category=${category}`;
        }else{
        // Construct the URL dynamically
        prevPageURL = `/user/pagination?page=${pageNumber}`;
        }
        const response = await fetch(prevPageURL, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' }
        });

        const result = await response.json();
        console.log('Filter products result:', result); // Debugging statement
        if (result.success) {
            const wishlist = result.wishlist;
            const productSection = document.querySelector('.product_section');
            productSection.innerHTML = ''; // Clear previous products
            result.products.forEach(product => {
                // Create and append product elements
                const productFrameGrid = document.createElement('div');
                productFrameGrid.className = 'product_frame_grid';
                productFrameGrid.innerHTML = `
                    <a onclick="window.location.href='/user/viewproduct?id=${product._id}'">
                        <div class="top">
                            <button class="wish_btn" onclick="addtoWishlist(event,'${product._id}')">
                                <i class="biwish_icon${product._id} ${
                                    wishlist &&
                                    wishlist.productsid &&
                                    wishlist.productsid.find(
                                        wishlistProduct => wishlistProduct.productid == product._id.toString()
                                    )
                                        ? 'bi-heart-fill'
                                        : 'bi-heart'
                                }"></i>
                            </button>
                            <img src="/uploads/products/${product.productImage[0]}" style="width: 75%; height: 90%;" alt="">
                        </div>
                        <div class="center">
                            <div class="name_div">
                                <p class="product_name">${product.productName}</p>
                            </div>
                            <div class="price_div">
                                <p class="old_price"><i class="bi bi-currency-rupee"></i>${product.price}</p>
                                <p class="new_price"><i class="bi bi-currency-rupee"></i>${product.discount}</p>
                            </div>
                        </div>
                        <div class="bottom"><button  class="addto_cart_btn addto_cart_btn"><i class="bi "></i>V I E W</button></div>
                    </a>
                `;
                productSection.appendChild(productFrameGrid);
            });

           
            
            const pagenumber=pageNumber
            // Create and append pagination
            const paginationDiv = document.querySelector('.pagination_div');
            paginationDiv.innerHTML = '';
            const linkPaginationDiv = document.createElement('div');
            linkPaginationDiv.className = 'link_pagination';
            linkPaginationDiv.innerHTML = `
                <button class="back_btn" onclick="prevpage(event, '${pagenumber}')"><i class="bi bi-chevron-left"></i></button>
                <div class="links">
                    <button class="page_btn active_link" value="${pagenumber}">${pagenumber}</button>
                </div>
                <button class="next_btn" onclick="nextpage(event, '${pagenumber}')"><i class="bi bi-chevron-right"></i></button>
            `;
            paginationDiv.appendChild(linkPaginationDiv);

            
        } else {
            console.error("Error filtering products:", result.message);
        }
    } catch (error) {
        console.error(error);
    }
}

async function nextpage(event, page) {
    try {
        event.preventDefault();
        const pageNumber = parseInt(page) + 1;
        let nextPageURL='';
        let cate=0;
        const selectedCategoryElement = document.querySelector('.input_cat:checked');
        const selectedCategory = selectedCategoryElement ? selectedCategoryElement.value : null;
        if(selectedCategory!=='null'){
          cate=selectedCategory
        }
        if(category&&cate!=='null'){console.log('kjkj');
            nextPageURL = `/user/pagination?page=${pageNumber}&category=${category}`;

        }else{
        // Construct the URL dynamically
        nextPageURL = `/user/pagination?page=${pageNumber}`;
        }console.log(nextPageURL);
        // Redirect to the next page
        const response = await fetch(nextPageURL, {
            method: 'GET',
            headers: { 'Content-Type': 'application/json' }
        });


        const result = await response.json();
        console.log('Filter products result:', result); // Debugging statement
        if (result.success) {console.log(result.products,'fdjggjgfd');
        const products=result.products;
        if (products.length==0){
            const pagenumber=pageNumber
            // Create and append pagination
            const paginationDiv = document.querySelector('.pagination_div');
            paginationDiv.innerHTML = '';
            const linkPaginationDiv = document.createElement('div');
            linkPaginationDiv.className = 'link_pagination';
            linkPaginationDiv.innerHTML = `
                <button class="back_btn" onclick="prevpage(event, '${pagenumber}')"><i class="bi bi-chevron-left"></i></button>
                <div class="links">
                    <button class="page_btn active_link" value="${pagenumber}">${pagenumber}</button>
                </div>
                <button class="next_btn" onclick=""><i class="bi bi-chevron-right"></i></button>
            `;
            paginationDiv.appendChild(linkPaginationDiv);
        }
            const wishlist = result.wishlist;
            const productSection = document.querySelector('.product_section');
            productSection.innerHTML = ''; // Clear previous products
            products.forEach(product => {
                // Create and append product elements
                const productFrameGrid = document.createElement('div');
                productFrameGrid.className = 'product_frame_grid';
                productFrameGrid.innerHTML = `
                    <a onclick="window.location.href='/user/viewproduct?id=${product._id}'">
                        <div class="top">
                            <button class="wish_btn" onclick="addtoWishlist(event,'${product._id}')">
                                <i class="biwish_icon${product._id} ${
                                    wishlist &&
                                    wishlist.productsid &&
                                    wishlist.productsid.find(
                                        wishlistProduct => wishlistProduct.productid == product._id.toString()
                                    )
                                        ? 'bi-heart-fill'
                                        : 'bi-heart'
                                }"></i>
                            </button>
                            <img src="/uploads/products/${product.productImage[0]}" style="width: 75%; height: 90%;" alt="">
                        </div>
                        <div class="center">
                            <div class="name_div">
                                <p class="product_name">${product.productName}</p>
                            </div>
                            <div class="price_div">
                                <p class="old_price"><i class="bi bi-currency-rupee"></i>${product.price}</p>
                                <p class="new_price"><i class="bi bi-currency-rupee"></i>${product.discount}</p>
                            </div>
                        </div>
                        <div class="bottom"><button  class="addto_cart_btn addto_cart_btn"><i class="bi "></i>V I E W</button></div>
                    </a>
                `;
                productSection.appendChild(productFrameGrid);
            });

           
            if(products.length!==0){
            const pagenumber=pageNumber
            // Create and append pagination
            const paginationDiv = document.querySelector('.pagination_div');
            paginationDiv.innerHTML = '';
            const linkPaginationDiv = document.createElement('div');
            linkPaginationDiv.className = 'link_pagination';
            linkPaginationDiv.innerHTML = `
                <button class="back_btn" onclick="prevpage(event, '${pagenumber}')"><i class="bi bi-chevron-left"></i></button>
                <div class="links">
                    <button class="page_btn active_link" value="${pagenumber}">${pagenumber}</button>
                </div>
                <button class="next_btn" onclick="nextpage(event, '${pagenumber}')"><i class="bi bi-chevron-right"></i></button>
            `;
            paginationDiv.appendChild(linkPaginationDiv);
            }

            
        } else {
            console.error("Error filtering products:", result.message);
        }
    } catch (error) {
        console.error(error);
    }
}


  </script>
  <script src="/js/search.js"></script>



<%- include('../common/end.ejs') %>