<%- include('../common/head.ejs') %>
    
<div class="wrapper cart_wrapper">


    <%- include('../common/top_nav.ejs') %>



    <div class="cart_content">    

        <div class="product_frame" >
            <%if(nouser==true){ %>
            
            <div class="login_to_view">
                <div class="gologin_frame">
                    <h3>PLEASE LOG IN</h3>
                    <p>Login to view items in your WISHLIST.</p>
                    <button onclick="location.href = '/user/login' " class="login_from_wish_btn">LOGIN</button>
                </div>
            </div>
            <%}else if(products==0){%>
    
            
            <!-- CART  -->
            <div id="empty-cart" style="padding-left: 42%;width: 100%;padding-top: 1%;padding-bottom: 1%;font-size:large;font-weight: bold;border-bottom: 2px solid rgba(145, 144, 144, 0.229);">
                Your Cart is Empty! </div>

                <%}else{%>
                    <div id="empty-cart" style="padding-left: 42%;width: 100%;padding-top: 1%;padding-bottom: 1%;font-size:large;font-weight: bold;border-bottom: 2px solid rgba(145, 144, 144, 0.229);">
                        Your Cart List </div>
            <% productIds.productsid.forEach((product)=>{ %>
                
                <div class="row<%=product.productid._id%>">
            <div class="product">
                <div class="image_sec">
                    <img src="/uploads/products/<%=product.productid.productImage[0]%>" style="width: 6rem; height: 7.2rem;" alt="">
                </div>
                <div class="discription_sec">
                    <p class="product_name" style="font-weight: bold;"><%= product.productid.productName %></p>
                    <div style="display: flex; gap: 1rem; align-items: center;">
                        <select class="quantity" name="quantity" style="outline: none; padding: .3rem;">
                            <option value="<%=product.quantity%>">Qty:<%=product.quantity%></option>
                            <%  for (let i = 1; i < product.productid.quantity  ; i++) { %>
                            <option value="<%=i%>,<%=product.productid.price%>,<%=product.productid.discount%>,<%=product.productid%>">Qty:<%=i%></option>
                            <% if (i === 5) break; %>
                            <% } %>
                        </select>
                        <div class="stock_left"> <%=product.productid.quantity%> Stock Left</div>
                    </div>
                    <div style="display: flex; gap: .7rem; align-items: center;">
                        <p class="old_price"><%=product.productid.price%></p>
                        <p class="new_price"><%=product.productid.discount%></p>
                        <p class="discount"><%= Math.round(100-(product.productid.discount / product.productid.price * 100)) %> % Off</p>
                    </div>
                    <p class="return_status">Return policy 
                        <% if(product.productid.return==true) { %>
                        <i class="bi bi-check"></i>
                        <% } else{ %>
                        <i class="bi bi-x"></i>
                        <%} %>
                    </p>
                </div>
                <div class="delete_section">
                    <div style="margin-bottom: 1rem;">
                        <button  >
                            <a   onclick="confirmDelete('<%=product.productid._id%>')">
                            <i class="bi bi-trash"></i></a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
            <% }) %>
            <%}%>
        </div>
                
        <div class="price_frame">
            <div class="price_sub_frame">
                <div class="cart_details"> 
                    <p>Cart Items</p>
                    <p class="cartCount">cartCount </p>
                </div>
                <div class="cart_details"> 
                    <p>Cart Total</p>
                    <p>
                        <i class="bi bi-currency-rupee"></i>
                        <span class="cart_total">cartTotal</span>
                    </p>
                </div>
                <div class="cart_details"> 
                    <p>Discount </p>
                    <p>
                        <i class="bi bi-currency-rupee"></i>-
                        <span class="productDiscount">discount </span>
                    </p>
                </div>
                <div class="cart_details"> 
                    <p>GST</p>
                    <p>
                        <i class="bi bi-currency-rupee"></i>
                        <span class="gst"> gst </span>
                    </p>
                </div>
                <div class="cart_details"> 
                    <p>Delivery Charge</p>
                    <p style="color: rgb(0, 158, 0); font-weight: 600;">FREE DELIVERY</p>
                </div>
            </div>
            <div class="total_amount"> 
                <p>Total Amount</p>
                <p>
                    <i class="bi bi-currency-rupee"></i>
                    <span class="cartTotalAmount">cartTotal - discount</span>
                </p>
            </div>
            <div class="btn_div">
                <button class="place_order_btn">PLACE ORDER</button>
            </div>

        </div>

    </div>



    <%- include('../common/footer.ejs') %>

</div>
<script>
    async function confirmDelete(id) {
        try {
            const response = await fetch(`/user/deletecartproduct?id=${id}`, { method: "delete" });
            if (!response.ok) {
                throw new Error("Error deleting product: " + response.statusText);
            }
            const data = await response.json();
            if (data.success) {
            console.log("Product deleted successfully");
            document.querySelector(`.row${id}`).remove();
            if(data.productExist==false){
                const nocart=document.getElementById('empty-cart');
                nocart.innerHTML="Your Cart is Empty!";
            }
        } else {
            console.log("Failed to delete product");
        }
        } catch (error) {
            console.error('Error deleting product:', error);
        }
    }

    const changes = document.querySelectorAll(".quantity");
changes.forEach(change => {
    change.addEventListener("change", async (e) => {
        try {
            e.preventDefault();
            const qty = e.target.value;
            const values=qty.split(",");
            const [quantity,price,discount,productid] =values;
            const newprice=quantity*price;
            const newdiscount=quantity*discount;
            console.log(newprice);
            const response = await fetch(`/user/updateCartqty?qty=${quantity},id=${productid}`, { method: "GET" });
            
            console.log(values);
        } catch (error) {
            console.error(error);
        }
    });
});




</script>



<%- include('../common/end.ejs') %>