<%- include('../common/head.ejs') %>

    <div class="checkout_wrapper" >
        <%- include('../common/top_nav.ejs') %>
        <form id="full_form" >
    <div class="checkout_content">
            <div class="checkout_left">
                <!-- ----------------------------------- -->
                <div class="checkout_left_top">
                <%order.forEach((product)=>{%>
                    <div class="product product"  >
                        <div class="image_sec"><img src="/uploads/products/<%=product.productid.productImage[0]%>" style="width: 8rem;height:10rem;" alt=""></div>
                        <div class="discription_sec">
                           <p class="product_name"><%=product.productid.productName%></p>
                           <div style="display: flex; gap: 1rem; align-items: center;">
                              <div class="qty1" style="width: 10%;height: 100%;display: flex;align-items: center;justify-content: center;border:1px solid black" >
                                Qty: <%=product.quantity%></div>
                              <div class="stock_left"> <%=product.productid.quantity%>Left</div>
                            </div>
                            <div style="display: flex; gap: .7rem; align-items: center;">
                                <p class="old_price"><%= product.productid.price * product.quantity %><i class="bi bi-currency-rupee"></i></p>
                                <p class="new_price"><%= product.productid.discount * product.quantity %><i class="bi bi-currency-rupee"></i></p>
                                <% let discountPercentage = Math.round(100 - (product.productid.discount / product.productid.price * 100)) %>
                                <p class="discount"><%= discountPercentage %> % Off</p>
                            </div>
                        <div >
                            <% if (product.size!=='') { %>
                                <div class="size_div">
                                <li class="size_li">
                                    <p style="font-family: 'Poppins', sans-serif;  color: rgb(5, 5, 5);">SIZE :</p>
                                        <span class="label_span" style="margin-bottom: 20px;">
                                            <input id="<%= product.size %>" value="<%= product.size %>" name="size" type="radio">
                                            <label for="<%= product.size %>"><%= product.size %></label>
                                        </span>
                                </li>
                            </div>
                            <% } %>
                            <!-- ------------------------------------- -->
                    <% if (product.color !=='' ) { %>       
                     <div class="color_li">
                         <p style="font-family: 'Poppins',sans-serif;color: black;font-size: .93rem;">COLOR :</p>
                           <span style="background-color:<%= product.color %>" class="label_span_color"  >
                            <input  id="<%= product.color %>" name="color" value="<%= product.color%>" type="radio" >
                            </span>
                     </div>
                     <%}%>
                           </div>
                           <li style="display: flex; gap: .7rem; align-items: center; height: 2rem;">
                            <div style="display: flex; align-items: center; font-family: 'sans-serif'; ">Return
                                <% if(product.return==true) { %>
                                  <i class="bi bi-check"></i>
                                  <% } else{ %>
                                  <i class="bi bi-x"></i>
                                  <% } %>
                            </div>
                         </li>                     
                        </div>
                     </div>
                    <%})%>
                </div>
              <!-- ----------------------------------- -->
                <div class="checkout_left_bottom">
                    <div class="checkouts_frame1" >
                        <div class="payment_divs1">PAYMENT METHOD</div>
                        <div class="payment_divs"><div class="payment_icon"><img class="payment_logo_png" src="/images/upi.png" alt=""></div><label for="upi">UPI</label><input id="upi" value="upi" name="payment" type="radio"></div>
                        <div class="payment_divs"><div class="payment_icon"><img class="payment_logo_png" src="/images/card.png" alt=""></div><label for="card">CARD</label><input id="card" value="card" name="payment" type="radio"></div>
                        <div class="payment_divs"><div class="payment_icon"><img class="payment_logo_png" src="/images/cashon delivery.png" alt=""></div><label for="cashondelivery">CASH ON DELIVERY</label><input id="cashondelivery" value="cashondelivery" name="payment" type="radio"></div>
                    </div>
                    <div class="checkouts_frame_bottom_frame checkouts_frame_bottom_coupon">
                        <h3>COUPON</h3>
                        <h6 class="message" style="color: rgb(225, 7, 7);padding-left: 20%;"></h6>
                        <div class="coupon_input_frame">
                            <img src="/images/coupon.png" style="height: 3rem;" alt="">
                            <input id="couponCodeInput" type="text" value="" placeholder="Enter Code">
                            <button class="coupon_check_btn">Apply</button>
                        </div>
                        <ul class="coupon_ul">
                            <li style="color: rgb(107, 106, 106);">Available Coupons</li>
                            <%coupon.forEach((coupon)=>{%>
                                <li onclick="selectCoupon(event,'<%= coupon.couponCode %>')" value="<%= coupon.couponCode %>"> <%= coupon.couponCode %> <span>save <%= coupon.discountPercentage %>%</span></li>
                            <%})%>
                            <li>R47HXD <span>save <i class="bi bi-currency-rupee"></i>399</span></li>
                            <li>R47HXD <span>save <i class="bi bi-currency-rupee"></i>399</span></li>
                            <li>R47HXD <span>save <i class="bi bi-currency-rupee"></i>399</span></li>
                        </ul>
                    </div>
                    <div class="checkouts_frame_bottom_frame checkouts_frame_bottom_adress" style="overflow: auto;">
                        <h3>SELECT ADDRESS</h3>
                        <h6 class="addmessage" style="color: rgb(225, 7, 7);padding-left: 20%;"></h6>
                        <% Address.forEach((address,index) => { %>
                        <div class="select_adress_div" style="font-weight: bold;">
                            <input id="add<%= address._id %>" name="address" type="radio">
                            <label for="add<%= address._id %>" value="<%= index %>"><%= address.Address %></label>
                        </div>
                        <% }) %>
                        <div class="payment_divs select_adress_div">
                            <input id="add2" name="payment" type="radio">
                            <label for="add2" value="2">pallippuraya(h)</label>
                        </div>
                        <div class="payment_divs select_adress_div">
                            <input id="add3" name="payment" type="radio">
                            <label for="add3" value="3">parathakaad(h)</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="checkout_right">
                <div class="checkouts_frame checkout_adress_frame" style="pointer-events: none;padding-bottom: 10px;">
                    <h3>ADDRESS</h3>
                    <div class="adress_frame" style="overflow: auto;">

                        <div style="display: flex;justify-content: space-between; width: 100%;">
                            <span style="display: flex; flex-direction: column;gap: .2rem; width: 50%;">
                                <label for="firstname" >First Name</label>
                                <input type="text" id="firstname"  value=""  name="firstname" style="width: 100%;" >
                            </span>
                            <span style="display: flex; flex-direction: column;gap: .2rem;  width: 48%;">
                                <label for="lastname">Last Name</label>
                                <input  type="text" id="lastname" value="" name="lastname" style="width: 100%; padding-left: 1rem" >
                            </span>
                        </div>
                        <span style="display: flex; flex-direction: column;gap: .2rem;  width: 100%;">
                           <label for="lastname">Mobile</label>  
                           <input  type="text" id="mobilenumber" value="" name="mobilenum" style="width: 100%; padding-left: 1rem" >
                       </span>
                       <div style="display: flex;justify-content: space-between; width: 100%;">
                        <span style="display: flex; flex-direction: column;gap: .2rem; width: 50%;">
                            <label for="firstname" >Country</label>
                            <input type="text" id="country" value=""  name="country" style="width: 100%;" >
                        </span>
                        <span style="display: flex; flex-direction: column;gap: .2rem;  width: 48%;">
                            <label for="lastname">State</label>
                            <input  type="text" id="state" value="" name="state" style="width: 100%; padding-left: 1rem" >
                        </span>
                    </div>  
                       <div style="display: flex;justify-content: space-between; width: 100%;">
                        <span style="display: flex; flex-direction: column;gap: .2rem; width: 60%;">
                            <label for="firstname" >District</label>
                            <input type="text" id="district" value=""  name="district" style="width: 100%;" >
                        </span>
                        <span style="display: flex; flex-direction: column;gap: .2rem;  width: 38%;">
                            <label for="lastname">Pin</label>
                            <input  type="text" id="zip" value="" name="zip" style="width: 100%; padding-left: 1rem" >
                        </span>
                    </div>  
                    <span style="display: flex; flex-direction: column;gap: .2rem;  width: 100%;">
                     <label for="lastname">Address</label>  
                     <textarea name="address" id="address"  class="adress_text_area"></textarea>
                 </span>
                    </div>
                </div>
                <div style="height: 30px;"></div>
      <div class="checkouts_frame checkout_total_price" style="overflow: auto;padding-bottom: 10px;">
         <h3>SUMMARY</h3>
         <div class="summary_frame">
            <p>Subtotal <span><i class="bi bi-currency-rupee"></i><span class="sub_total"><%=total%></span></span></p>
                        <p>Shipping <span style="color: rgb(0, 160, 0);">FREE</span></p>
                        <p>Coupon <span class="discount_percentage"><i class="bi bi-currency-rupee"></i>0</span></p>
                        <p>Order Total <span><i class="bi bi-currency-rupee"></i><span id="order_total" class="order_total"><%=total%></span></span></p>
                        <button type="submit" class="proceed_btn">PROCEED</button>
                    </div>
                </div>
            </div>
          </div>
        </form>

<%- include('../common/footer.ejs') %>
    </div>
    <script>

document.querySelector(".coupon_check_btn").addEventListener("click", (event) => {
    event.preventDefault(); // Prevent default form submission
    applyCoupon(event, '<%=total%>'); // Pass the event object to the function
});


const addressRadios = document.querySelectorAll(".checkouts_frame_bottom_frame.checkouts_frame_bottom_adress input[type='radio']");
let selectedAddress = null;
addressRadios.forEach(async(radio) => {
    radio.addEventListener('change', async(e) => {
        try {
        e.preventDefault();e.stopPropagation();
        selectedAddress = e.target.nextElementSibling.getAttribute('value');
        const index=selectedAddress;
        const response = await fetch(`/user/addresschoice?index=${index}`, { method: "GET" });
        const result=await response.json();
        if(result.success){
            const fulladdress=result.userdata;
            const firstname=document.getElementById('firstname');
            const laststname=document.getElementById('lastname');
            const mobilenumber=document.getElementById('mobilenumber');
            const country=document.getElementById('country');
            const state=document.getElementById('state');
            const district=document.getElementById('district');
            const zip=document.getElementById('zip');
            const address=document.getElementById('address');
            
            firstname.value=fulladdress.firstName;
            lastname.value=fulladdress.lastName;
            mobilenumber.value=fulladdress.phoneNumber;
            country.value=fulladdress.country;
            state.value=fulladdress.state;
            district.value=fulladdress.district;
            zip.value=fulladdress.zip;
            address.value=fulladdress.Address;
        }
    } catch (error) {
        console.error(error);
        const message = document.querySelector('.addmessage');
        message.textContent = error.message || 'An error occurred while fetching the address';
    }
});
});


function selectCoupon(event,code) {
    document.getElementById('couponCodeInput').value = code;
}

let finalPrice=0;

async function applyCoupon(event, total) {
    event.preventDefault();
    const couponCode = document.getElementById('couponCodeInput').value;
    try {
        const response = await fetch(`/user/applyCoupon?couponCode=${couponCode}`, { method: 'GET' });
        if (response.ok) {
            const data = await response.json();
            const message = document.querySelector('.message');
            const discountAmount = document.querySelector('.discount_percentage');
            const orderTotal= document.querySelector('.order_total');
            if (data.success) {
                const discount=data.amount;
                const price=total.trim('');
                let final=price-((discount*price)/100)
                finalPrice=Math.round(final)
                const couponDiscount=price-finalPrice;
                discountAmount.innerHTML=`₹ ${couponDiscount}`;
                orderTotal.innerHTML=`${finalPrice}`
                message.textContent = `Coupon applied successfully`;
                message.classList.add('success');
            } else {
                throw new Error(data.message || 'Coupon is not available');
            }
        } else {
            throw new Error('Coupon is not available');
        }
    } catch (error) {
        console.error(error);
        const message = document.querySelector('.message');
        message.textContent = error.message || 'An error occurred while applying the coupon';
        message.classList.add('error');
    }
    setTimeout(() => {
        const message = document.querySelector('.message');
        message.textContent = '';
        message.classList.remove('success', 'error');
    }, 1000);
}


document.querySelector(".proceed_btn").addEventListener("click", async (e) => {
    e.preventDefault();
    // Serialize form data
    const formData = new FormData(document.getElementById("full_form"));
    const data = {};
    const total=document.getElementById("order_total").value;
    formData.forEach((value, key) => {
        data[key] = value;
    });
    // Send the fetch request
    try {
        const response = await fetch(`/user/checkoutPost?finalPrice=${finalPrice}`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        // Handle the response
        const result = await response.json();
        console.log(result);
    } catch (error) {
        console.error("Error:", error);
    }
});
    </script>

<%- include('../common/end.ejs') %>


