<%- include('../common/head.ejs') %>
    
   <div class="wrapper order_wrapper">
      <%- include('../common/top_nav.ejs') %>
         <div class="content order_content">
            <div class="frame">
               <div class="left_bar">
                   <ul>
                     <li class="left_profile_li">
                        <%if(img=='false'){%>
                        <img src="/uploads/profiles/altimage-removebg-preview.png" alt="">
                        <%}else{%>
                            <img src="/uploads/profiles/<%=profiledata.userImage%>" alt="">
                            <%}%>    
                        <h3 style="color: white;">HELLO</h3>
                    </li>
                       <li onclick="location.href='/account/address' " class=""><i class="bi bi_left_bar bi-person-circle"></i>Profile</li>
                       <li onclick="location.href='/account/update_password' " class=""><i class="bi bi_left_bar bi-shield-lock-fill"></i>Update Password</li>
                       <li onclick="location.href='/account/orders' " class=""><i class="bi bi_left_bar bi-gift-fill"></i>Orders</li>
                       <li onclick="location.href='/cart'"><i class="bi bi_left_bar bi-cart-fill"></i>Cart</li>
                       <li onclick="location.href='/wishlist' " ><i class="bi bi_left_bar bi-heart-fill"></i>Wishlist</li>
                       <li onclick="location.href='/account/aboutus' " class=""><i class="bi bi_left_bar bi-info-circle-fill"></i>About Us</li>
                       <li onclick="location.href='/account/contactus' " class=""><i class="bi bi_left_bar bi-telephone-fill"></i>Contact Us</li>
                   </ul>
               </div>
               </div>
            <div class="right_content">
               <table>
                  <thead>
                     <tr>
                        <th style="width: 30%;">PRODUCT</th>
                        <th style="width: 15%;">ORDER ID</th>
                        <th style="width: 10%;">AMOUNT</th>
                        <th style="width: 10%;">ORDER DATE</th>
                        <th style="width: 10%;">STATUS</th>
                        <th style="width: 8%;"></th>
                     </tr>
                  </thead>
               
                  <tbody>
                  <tr class="td_tr">
                     <td class="product_td">
                        <div class="img_section"><img src="/images/iphone 15.jpg" style="height: 6rem; width: 5rem;" alt=""></div>
                        <div class="product_details">
                           <p class="order_product_name">Iphone 15 pro</p>
                           <p class="order_size">Size : <span style="font-size: 1.1rem;">s</span></p>
                           <p class="order_color">Color : <span>black</span></p>
                        </div>
                     </td>
                     <td>6345934676874549</td>
                     <td style="font-family: 'Poppins',sans-serif; font-weight: 600; color: rgba(255, 0, 0, 0.748);"><i class="bi bi-currency-rupee"></i>12,432</td>
                     <td style="font-family: 'Poppins',sans-serif; font-weight: 600; color: rgba(0, 0, 0, 0.748);">12-04-2024</td>
                     <td class="status delivered">DELIVERED</td>
                     <td ><button style="height: 20%;width: 70%; font-size: small;font-weight: bold;background-color: rgb(32, 100, 9);color: white;border: none;border-radius: 5px; cursor: pointer;">Cancel</button></td>

                  </tr>
                  </tbody>

               </table>
            </div>
         </div>
   </div>
   <%- include('../common/footer.ejs') %>
<%- include('../common/end.ejs') %>