<%- include('../common/head.ejs') %>
   <div class="wrapper category_products_wrapper">
    <%- include('../common/top_nav.ejs') %>
         <div class="content catProducts_content">


                     
            <!-- =============================================================================================================== -->
   

            <header>
               <ul>
                  <li><a href="/user/userhome">HOME</a></li>
                  <li><a href="/user/allproducts">ALL PRODUCTS</a></li>
                  <li class="category_li">
                     <a href="#">ALL CATEGORY&nbsp;<i class="bi bi-chevron-down"></i></a>
                     <table class="drop_bar">
                      <% categoryDetails.forEach((category) => { %>
                          <tr>
                              <td><a href="/user/categoryget?catid=<%= category.categoryName %>" style="color: red; font-size: large; display: block; text-decoration: none;width: 100%;"><%= category.categoryName %></a></td>
                              <% category.subCategory.forEach((sub) => { %>
                                <td><a style="width: 100%;" href="/user/subcategory?subid=<%= sub %>" ><%= sub %></a></td>
                            <% }); %>
                          </tr>
                      <% }); %>
                  </table>
                  </li>
                  <%let cat="MOBILES"%>
                  <li class=""><a href="/user/categoryget?catid=MOBILES">MOBILES</a></li>
                  <li class=""><a href="/user/categoryget?catid=LAPTOPS">LAPTOPS</a></li>
                  <li class=""><a href="/user/categoryget?catid=MENS">MENS</a></li>
               </ul>
            </header>


            <!-- ========================================================================================================= -->
            <%if(subcategory.length==0){%>
              <h4 style="width: 100%;height: 100%;;display: flex;justify-content: center;align-items: center;">No Products</h4>
    
            <%}else{%>
      <div class="product_section">
        

         <%subcategory.forEach((subcategory)=>{%>

                   <div class="product_frame_grid" >
                     <a onclick="window.location.href='/user/viewproduct?id=<%= subcategory._id %>'">
                     <div class="top">
                        <button class="wish_btn" onclick="addtoWishlist(event,'<%= subcategory._id %>')">
                           <i class="biwish_icon<%= subcategory._id %> <%= (() => {
                             const productIdObjectId = subcategory._id.toString();
                             const isProductInWishList = wishlist && wishlist.productsid && wishlist.productsid.find(product => product.productid == productIdObjectId);
                             return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                           })() %>"></i>
                        </button>
                        <img src="/uploads/products/<%= subcategory.productImage[0] %>" style="width: 75%; height: 90%;" alt="">
                      </div>
                      <div class="center">
                        <div class="name_div">
                        <p class="product_name"><%=subcategory.productName%></p>
                        </div>
                        <div class="price_div">
                           <p class="old_price"><i class="bi bi-currency-rupee"></i><%=subcategory.price%></p>
                           <p class="new_price"><i class="bi bi-currency-rupee"></i><%=subcategory.discount%></p>
                        </div>
                     </div>
                     <div class="bottom"><button  class="addto_cart_btn addto_cart_btn"><i class="bi "></i>V I E W</button>
                     </div>  
                     </a>                   
                  </div>
                  <% }) %>
                  
                 

               </div>   
               <%}%>   

         </div>
         <%- include('../common/footer.ejs') %>
   </div>

   <script>
      async function addtoWishlist(event, id) {
        event.preventDefault();
        event.stopPropagation(); 
        try {console.log('lolo');
          const response = await fetch(`/user/addtowishlist?productid=${id}`, { method: 'GET', headers: { 'Content-Type': "application/json" } });
          const result = await response.json();
          if(result.success){
            const path = document.querySelector('.biwish_icon'+id);
            if(path.classList.contains('bi-heart')){
              path.classList.replace('bi-heart','bi-heart-fill');
            }else{
              path.classList.replace('bi-heart-fill','bi-heart');
            }
            const count = result.count;
            const wishCount = document.getElementById('wish-Count');
            if (wishCount) {
              wishCount.innerHTML = count;
            } else {
              console.error("Element with ID 'wish-count' not found.");
            }
          }else{
            window.location.href="/user/login";
          }
        } catch (error) {
          console.error('Error adding product:', error);
        }
      }

    </script>
<script src="/js/search.js"></script>


<%- include('../common/end.ejs') %>    