<%- include('../common/head.ejs') %>
 
  
    <div class="home_wrapper">
      <%- include('../common/top_nav.ejs') %>
      <div class="home_content">
        <!-- =============================================================================================================== -->

        <header>
          <ul>
            <li class=""><a href="/user/userhome">HOME</a></li>
            <li><a href="/user/allproducts">ALL PRODUCTS</a></li>
            <li class="category_li">
               <a href="#">ALL CATEGORY&nbsp;<i class="bi bi-chevron-down"></i></a>
               <table class="drop_bar">
                <% categoryDetails.forEach((category) => { %>
                    <tr>
                        <td><a href="/user/categoryget?catid=<%= category.categoryName %>" style="color: red; font-size: large; display: block; text-decoration: none;width: 100%;"><%= category.categoryName %></a></td>
                        <% category.subCategory.forEach((sub) => { %>
                            <td><a style="width: 100%;" href="/user/subcategory?subid=<%= sub %>" ><%= sub %></a></td>
                        <% }); %>
                    </tr>
                <% }); %>
            </table>
            
              
            </li>
            <li class=""><a href="/user/categoryget?catid=MOBILES">MOBILES</a></li>
                  <li class=""><a href="/user/categoryget?catid=LAPTOPS">LAPTOPS</a></li>
                  <li class=""><a href="/user/categoryget?catid=MENS">MENS</a></li>
          </ul>
        </header>

        <!-- ========================================================================================================= -->
        <div class="banner">
          <button class="prev_banner"><i class="bi banner_chevron bi-chevron-left"></i></button>
          
          <% bannerDetails.forEach((banner) => { %>

          <div class="banner_sub_div">
          <img src="/uploads/banners/<%= banner.bannerImage %>"  style="width: 45%;">
          <div class="banner_text_frame">
               <h2><%= banner.bannerHeading.toUpperCase() %></h2>
               <h4><%= banner.bannerName.toUpperCase() %></h4>
               <h5><i class="bi bi-currency-rupee"></i><%= banner.offerPrice.toLocaleString() %></h5>
          </div>
          </div>

          <% }) %>
               
          <button class="next_banner"><i class="bi banner_chevron bi-chevron-right"></i></button>
       </div>

        <!-- ========================================================================================================= -->

        <!-- ------------------------- CATEGORY --------------------------- -->

        <!-- ============================================================================================================================ -->
        <div class="product_frame">
          <div class="product_top">New Arrivals</div>
          <div class="product_section" >
          

            <%for(let i = productDetails.length - 1; i >= Math.max(0, productDetails.length - 40); i--) {%>
                      <div class="product_frame_grid" >
                        <a onclick="window.location.href='/user/viewproduct?id=<%= productDetails[i]._id %>'">
                        <div class="top">
                           <button class="wish_btn" onclick="addtoWishlist(event,'<%= productDetails[i]._id %>')">
                            <i class="biwish_icon<%= productDetails[i]._id %> <%= (() => {
                              const productIdObjectId = productDetails[i]._id.toString();
                              const isProductInWishList = wishlist && wishlist.productsid && wishlist.productsid.find(product => product.productid == productIdObjectId);
                              return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                            })() %>"></i>
                            </button>
                           <img src="/uploads/products/<%= productDetails[i].productImage[0] %> " style="width: 75%; height: 90%;" alt="">
                         </div>
                         <div class="center">
                           <div class="name_div">
                           <p class="product_name"><%= productDetails[i].productName %></p>
                           </div>
                           <div class="price_div">
                              <p class="old_price"><i class="bi bi-currency-rupee"></i><%= productDetails[i].price %></p>
                              <p class="new_price"><i class="bi bi-currency-rupee"></i><%= productDetails[i].discount %></p>
                           </div>
                        </div>
                        <div class="bottom"><button  class="addto_cart_btn addto_cart_btn"><i class="bi "></i>V I E W</button>
                        </div>  
                        </a>                   
                     </div>
                     <% } %>
                     
                     
                    
   
                  </div>
                  
        </div>
        <!-- ------------------------- MENS SHIRT --------------------------- -->
        
        
        <!-- --------------------------------------------------------------------------------------------------------- -->

        <!-- ------------------------- MENS TSHIRTS --------------------------- -->
        
        

        <!-- --------------------------------------------------------------------------------------------------------- -->

        <!-- ------------------------- WOMENS KURTAS --------------------------- -->

        <!-- -------------------------------------------------------------------------------------------- -->

        <%- include('../common/footer.ejs') %>
      </div>
    </div>

    <script>
      async function addtoWishlist(event, id) {
        event.preventDefault();
        event.stopPropagation(); 
        try {console.log('lolo');
          const response = await fetch(`/user/addtowishlist?productid=${id}`, { method: 'GET', headers: { 'Content-Type': "application/json" } });
          const result = await response.json();
          if(result.success){
            const path = document.querySelector('.biwish_icon'+id);
            if(path.classList.contains('bi-heart')){
              path.classList.replace('bi-heart','bi-heart-fill');
            }else{
              path.classList.replace('bi-heart-fill','bi-heart');
            }
            const count = result.count;
            const wishCount = document.getElementById('wish-Count');
            if (wishCount) {
              wishCount.innerHTML = count;
            } else {
              console.error("Element with ID 'wish-count' not found.");
            }
          }else{
            window.location.href="/user/login";
          }
        } catch (error) {
          console.error('Error adding product:', error);
        }
      }

    </script>

    <script src="/javascript/addtocart.js"></script>
    <script src="/javascript/product-open.js"></script>
    <script src="/javascript/btnsearch.js"></script>
    <script src="/javascript/banner.js"></script>
    <%- include('../common/end.ejs') %>
