<%- include('../common/head.ejs') %>
 
  
    <div class="home_wrapper">
      <div class="top_nav">
        <div class="web_logo"><i class="bi bi-list"></i><span class="labio_text">MITMAT</span></div>
        <div class="search_div">
          <div class="search_bar">
            <input class="search_input" placeholder="Search..." type="text" />
            <button class="search_btn"><i class="bi bi-search"></i></button>
          </div>
        </div>
        <div class="page_links">
          <ul>
            <li><a class="page_links home_li " href="/home">Home</a></li>
            <li><a class="page_links" href="/user/wishlist"><i class="bi bi-heart bi_top_heart"></i><span id="wish-Count" class="product_count wish_count_top"><%= locals.wishlistCount %></span></a></li>
            <li><a class="page_links" href="/user/cart"><i class="bi bi-cart3  "></i><span class="product_count cart_count"><%= locals.cartCount %></span></a></li>
            <li><a class="page_links " href="/user/Address">Account</a></li>
            <li><a class="page_links" href=""><i class="bi bi-box-arrow-right"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="home_content">
        <!-- =============================================================================================================== -->

        <header>
          <ul>
            <li class=""><a href="/home">HOME</a></li>
            <li><a href="/all_products">ALL PRODUCTS</a></li>
            <li class="category_li">
               <a href="#">ALL CATEGORY&nbsp;<i class="bi bi-chevron-down"></i></a>
               <table class="drop_bar">
                <% categoryDetails.forEach((category) => { %>
                    <tr>
                        <td><a href="/user/categoryget?catid=<%= category.categoryName %>" style="color: red; font-size: large; display: block; text-decoration: none;width: 100%;"><%= category.categoryName %></a></td>
                        <% category.subCategory.forEach((sub) => { %>
                            <td><a href=""><%= sub %></a></td>
                        <% }); %>
                    </tr>
                <% }); %>
            </table>
            
              
            </li>
            <li class=""><a href="/subcategory/MOBILES">MOBILES</a></li>
            <li class=""><a href="/subcategory/LAPTOPS">LAPTOPS</a></li>
            <li class=""><a href="/subcategory/PAINTINGS">PAINTINGS</a></li>
          </ul>
        </header>

        <!-- ========================================================================================================= -->
        <div class="banner">
          <button class="prev_banner"><i class="bi banner_chevron bi-chevron-left"></i></button>
          
          <% bannerDetails.forEach((banner) => { %>

          <div class="banner_sub_div">
          <img src="/uploads/banners/<%= banner.bannerImage %>"  style="width: 45%;">
          <div class="banner_text_frame">
               <h2><%= banner.bannerHeading.toUpperCase() %></h2>
               <h4><%= banner.bannerName.toUpperCase() %></h4>
               <h5><i class="bi bi-currency-rupee"></i><%= banner.offerPrice.toLocaleString() %></h5>
          </div>
          </div>

          <% }) %>
               
          <button class="next_banner"><i class="bi banner_chevron bi-chevron-right"></i></button>
       </div>

        <!-- ========================================================================================================= -->

        <!-- ------------------------- CATEGORY --------------------------- -->

        <!-- ============================================================================================================================ -->
        <div class="product_frame">
          <div class="product_top">New Arrivals</div>
          <div class="product_bottom">
            
            <% for(let i = productDetails.length - 1; i >= Math.max(0, productDetails.length - 40); i--) { %>
              <div class="product_frame_grid">
                  <a onclick="window.location.href='/user/viewproduct?id=<%= productDetails[i]._id %>'">
                      <div class="top">
                        <button class="wish_btn" onclick="addtowishlist(event, '<%= productDetails[i]._id %>')">
                        <i class="bi wish_icon<%= productDetails[i]._id %> <%= (() => {
                          const productIdObjectId = productDetails[i]._id.toString();
                          const isProductInWishList = wishlist && wishlist.productsid && wishlist.productsid.find(product => product.productid == productIdObjectId);
                          return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                        })() %>"></i>
                      </button>
                          <img src="/uploads/products/<%= productDetails[i].productImage[0] %>" style="width: 75%; height: 90%" alt="" />
                      </div>
                      <div class="center">
                          <div class="name_div">
                              <p class="product_name"><%= productDetails[i].productName %></p>
                          </div>
                          <div class="price_div">
                              <p class="old_price"><i class="bi bi-currency-rupee"></i><%= productDetails[i].price %></p>
                              <p class="new_price"><i class="bi bi-currency-rupee"></i><%= productDetails[i].discount %></p>
                          </div>
                      </div>
                  
                  <div class="bottom">
                      <button  class="addto_cart_btn addto_cart_btn">V I E W</button>
                  </div>
                </a>
              </div>
          <% } %>
          
          </div>
        </div>
        <!-- ------------------------- MENS SHIRTS --------------------------- -->
        <% categoryDetails.forEach((category) => { %>
          <div class="product_frame">
            <div class="product_top"><%= category.categoryName %></div>
            <div class="product_bottom">
              <% const products = productDetails.filter(product => product.category == category.categoryName); %>
              <% products.forEach((product) => { %>
                <div class="product_frame_grid">
                  <a onclick="window.location.href='/user/viewproduct?id=<%= product._id %>'">
                    <div class="top">
                      <button class="wish_btn" onclick="addtoWishlist(event,'<%= product._id %>')">
                        <i class="bi wish_icon<%= product._id %> <%= (() => {
                          const productIdObjectId = product._id.toString();
                          const isProductInWishList = wishlist && wishlist.productsid && wishlist.productsid.find(product => product.productid == productIdObjectId);
                          return isProductInWishList ? 'bi-heart-fill' : 'bi-heart';
                        })() %>"></i>
                      </button>
                      <img src="/uploads/products/<%= product.productImage[0] %>" style="width: 75%; height: 90%" alt="" />
                    </div>
                    <div class="center">
                      <div class="name_div">
                          <p class="product_name"><%= product.productName %></p>
                      </div>
                      <div class="price_div">
                          <p class="old_price"><i class="bi bi-currency-rupee"></i><%= product.price %></p>
                          <p class="new_price"><i class="bi bi-currency-rupee"></i><%= product.discount %></p>
                      </div>
                  </div>
                  </a>
                  <div class="bottom">
                    <button onclick="window.location.href='/user/buyproduct?id=<%= product._id %>'" class="addto_cart_btn addto_cart_btn">V I E W</button>
                  </div>
                </div>
              <% }); %>
              
              
            </div>
          </div>
        <% }); %>
        
        <!-- --------------------------------------------------------------------------------------------------------- -->

        <!-- ------------------------- MENS TSHIRTS --------------------------- -->

        

        <!-- --------------------------------------------------------------------------------------------------------- -->

        <!-- ------------------------- WOMENS KURTAS --------------------------- -->

        <!-- -------------------------------------------------------------------------------------------- -->

        <%- include('../common/footer.ejs') %>
      </div>
    </div>

    <script>
      async function addtowishlist(event, id) {
        event.preventDefault();
        event.stopPropagation(); 
        try {
          const response = await fetch(`/user/addtowishlist?productid=${id}`, { method: 'GET', headers: { 'Content-Type': "application/json" } });
          const result = await response.json();
          if(result.success){
            const path = document.querySelector('.bi.wish_icon'+id);
            if(path.classList.contains('bi-heart')){
              path.classList.replace('bi-heart','bi-heart-fill');
            }else{
              path.classList.replace('bi-heart-fill','bi-heart');
            }
            const count = result.count;
            const wishCount = document.getElementById('wish-Count');
            if (wishCount) {
              wishCount.innerHTML = count;
            } else {
              console.error("Element with ID 'wish-count' not found.");
            }
          }else{
            window.location.href="/user/login";
          }
        } catch (error) {
          console.error('Error adding product:', error);
        }
      }

    </script>

    <script src="/javascript/addtocart.js"></script>
    <script src="/javascript/product-open.js"></script>
    <script src="/javascript/btnsearch.js"></script>
    <script src="/javascript/banner.js"></script>
    <%- include('../common/end.ejs') %>
