<%- include('../common/head.ejs') %>
<div class="wrapper productopen_wrapper">
    <%- include('../common/top_nav.ejs') %>
    <% const length = review ? review.reviews.length : 0; %>
    <% let avg = 0; %>
    <% if (length !== 0) { avg = totalrating / length; } %>



    <form id="buy-now-form" action="/user/buyNow?id=<%= product._id %>" method="post" style="width: 100%;">
        <div class="productopen_content">
            <div class="main_frame">
                <div class="product_frame" style="margin-top: 0px;">
                    <div class="img_frame">
                        <button type="button" class="prev_next_btn" onclick="prevImg()">
                            <i class="bi left_right_icon bi-caret-left"></i>
                        </button>
                        <div>
                            <img src="/uploads/products/<%=product.productImage[0]%>" class="product_image_img" style="height: 300px; width: 100%;" alt="">
                        </div>
                        <button type="button" class="prev_next_btn" onclick="nextImg()">
                            <i class="bi left_right_icon bi-caret-right"></i>
                        </button>
                    </div>
                    <div class="img_position" style="display: flex; width: 100%; justify-content: space-evenly; margin-bottom: 1rem;">
                        <% product.productImage.forEach((img) => { %>
                            <div style="width: 4rem;height: 6rem; border-radius: 0%; cursor: pointer; border: 1px solid rgba(115, 115, 115, 0.277); border-radius: .2rem; overflow: hidden;">
                                <img onmouseover="changeImg('/uploads/products/<%= img %>')" class="pro_img_loop" src="/uploads/products/<%= img %>" style="width: 100%; height: 100%;" alt="">
                            </div>
                        <% }) %>
                    </div>
                </div>
                
                <div class="product_detail_frame">
                    <ul>

                        <li style="font-size: 1.3rem; font-family: 'Poppins',sans-serif; font-weight: 600; color: white;">
                            <%=product.productName%>
                        </li><br>
                        <li style="display: flex; gap: .7rem; align-items: center;">
                            <p class="old_price" id="old-price"><i class="bi bi-currency-rupee"></i><%= product.price.toLocaleString() %></p>
                            <p class="new_price" id="new-price" style="color: white;"><i class="bi bi-currency-rupee"></i><%= product.discount.toLocaleString() %></p><br>
                            
                        </li>
                        <p class="discount"><%= Math.round(100-(product.discount / product.price * 100)) %> % Off</p>
                        
                        
                        
                        <!-- ========================================== -->
    
                        
                         <li style="display: flex; gap: .7rem; align-items: center; height: 2rem;">
                            <div style="display: flex; align-items: center; font-family: 'sans-serif'; ">Return
                               <% if(product.return==true) { %>
                                  <i class="bi bi-check"></i>
                                  <% } else{ %>
                                  <i class="bi bi-x"></i>
                                  <% } %>
                            </div>
                         </li>
    
       
                         <!-- ===================================== -->
                         <div class="top_rating"><span style="font-size: 1.3rem;"><%=avg%></span><i class="bi top_star bi-star-fill"></i><span style="font-size: .7rem; font-family: 'Poppins',sans-serif;">Out of <span><%=length%></span> Reviews</span></div><BR>
                         
                         <!-- =========================================================== -->
                         <% if (Array.isArray(product.size) && product.size.length > 0) { %>
                            <li class="size_li">
                                <p style="font-family: 'Poppins', sans-serif; font-weight: 600; color: rgb(255, 255, 255);">SIZE :</p>
                        
                                <% product.size.forEach((size) => { %>
                        
                                    <span class="label_span" style="margin-bottom: 20px;">
                                        <input id="<%= size %>" value="<%= size %>" name="size" type="radio">
                                        <label for="<%= size %>"><%= size %></label>
                                    </span>
                        
                                <% }) %>
                        
                            </li>
                        <% } %>
                        
    
                         <!-- ======================================== -->
                         <% if (Array.isArray(product.color) && product.color.length > 0) { %>
    
                         <li class="color_li">
                            <p style="font-family: 'Poppins',sans-serif; font-weight: 600; color: rgba(255, 255, 255, 0.947);">COLOR :</p>
    
                            <% product.color.forEach((color) => { %>
    
                               <span style="border: 1px solid white;margin-bottom: 20px;background-color:<%= color %>" class="label_span_color">
                                  <input  id="<%= color %>" name="color" value="<%= color %>" type="radio" >
                                  <label for="<%= color %>" ></label>
                                  </span>
                               
                               <% }) %>
    
                         </li>
                         <%}%>
    
                         <!-- =================================================== -->
    
                         <li>
                            <div style="display: flex; gap: 1rem; align-items: center;">
                                <select  name="quantity" style="outline: none; padding: .3rem;">
                                    <option value="1">Qty:1</option>
                                    <option value="2">Qty:2</option>
                                    <option value="3">Qty:3</option>
                                    <option value="4">Qty:4</option>
                                    <option value="5">Qty:5</option>
                                 </select>
                               <div class="stock_left">Hurry only <%= product.quantity %> LEFT</div>
                               <div class="wish_btn_div"><button class="wish_btn" onclick="addToWish(event,'<%= product._id %>')">
                                  <i class="bi wish_white wish_icon"></i>
                                  </button></div>
                            </div>
                         </li>
    
    
                         <!-- ======================================= -->
    
    
    
                         <li style="height: 10rem; flex-direction: column; align-items: start; gap: .3rem;">
                            <p class="disc_p">Description</p>
                            <div class="discription_frame">
                               <pre class="discription_frame1"><%= product.description %></pre>
                            </div>
                         </li>
    
                         <!-- ======================================================= -->
    
    
    
                         <li style="height: 4rem;">
                            <p style="font-family:'Times New Roman', Times, serif;color: white;">Delivery Within <span style="color: rgb(0, 179, 0);"><%= product.deliverydate %> Days</span></p>
                         </li>
                         <div class="message" style="color: rgb(183, 21, 21);margin-bottom: 10px; font-weight: bold;"></div>
    
                         <!-- =================================================================== -->
    
                         <li class="btn_li" style="display: flex; height: 3rem; justify-content: space-between; width: 90%;">    
                            <%productExist%>
                            <% if(productExist==false){ %>                                                                                
                            <a  href="" id="add-to-cart-btn-<%= product._id %>" class="submit" onclick="addtocart('<%= product._id %>','<%= locals.cartCount %>')">ADD TO CART</a>
                            <% }else{ %>
                            <a  href="" id="add-to-cart-btn-<%= product._id %>" onclick="gotocart('<%= product._id %>')">GO TO CART</a>
                            <% } %>
                            <button class="submit"  type="button" onclick="submitBuyNowForm()">BUY NOW</button>
                         </li>
    
                      </ul>
                   </div>
                </div>                  
             </div>
    </form>

        <!-- ============================================================================================================================ -->

        <div class="product_frame_related">
            <div class="product_top">RELATED PRODUCTS</div>
            <div class="product_bottom">
                <% relatedProducts.forEach((relatedProduct) => { %>
                    <% if (relatedProduct._id != product._id) { %>
                        
                        <div class="product_frame_grid" onclick="window.location.href='/user/viewproduct?id=<%= relatedProduct._id %>'">
                            <div class="top">
                                <button class="wish_btn_related">
                                    <i class="bi wish_related_pro_icon wish_icon bi-heart"></i>
                                </button>
                                <img src="/uploads/products/<%= relatedProduct.productImage[0] %>" style="width: 85%; height: 90%;margin-top: 20%;" alt="">
                            </div>
                            <div class="center">
                                <div class="name_div">
                                    <p class="product_name"><%= relatedProduct.productName %></p>
                                </div>
                                <div class="price_div">
                                    <p class="old_price"><i class="bi bi-currency-rupee"></i><%= relatedProduct.price %></p>
                                    <p class="new_price"><i class="bi bi-currency-rupee"></i><%= relatedProduct.discount %></p>
                                </div>
                            </div>
                            <div class="bottom">
                                <button  class="addto_cart_btn addto_cart_btn">V I E W</button>

                            </div>
                        </div>
                    <% } %>
                <% }); %>
                
            </div>
            
        </div>


        <div class="product_frame_related">

            <div class="product_top">Ratings & Reviews</div>
            <h4 class="rating_number"><%=avg%></h4>
            <h6 class="basedon_tex">Based on <span><%=length%></span> Reviews</h6>

            <div class="product_bottom product_review">
                <%if(review){%>
                <% review.reviews.forEach((reviews)=>{%>

               <div class="review_frame">
                     <div class="user_review" style="border-bottom: 1px solid rgb(207, 207, 207);">
                     <span class="star_rating"><span><%=reviews.rating%></span><i class="bi bi-star-fill"></i></span>
                     <p class="rating_para"><%=reviews.review%></p>
                  </div>
               </div>
               <%})%>
               <%}else{%>
                <div class="review_frame">
                       <div class="user_review" >
                       <span class="star_rating"><span>0</span><i class="bi bi-star-fill"></i></span>
                       <p class="rating_para">No Review</p>
                    </div>
                 </div>
                 <%}%>

        </div>
        </div>

        <%- include('../common/footer.ejs') %>


    

</div> <!-- Close the productopen_wrapper div -->





<script>
    let currentImgIndex = 0;
    const mainImg = document.querySelector('.product_image_img');
    
    function changeImg(imageSrc){
        mainImg.src = imageSrc;
    }
    
    function prevImg(){
        currentImgIndex = (currentImgIndex - 1 + document.querySelectorAll('.pro_img_loop').length) % document.querySelectorAll('.pro_img_loop').length;
        mainImg.src = "/uploads/products/" + document.querySelectorAll('.pro_img_loop')[currentImgIndex].src.split("/").pop();
    }
    
    function nextImg(){
        currentImgIndex = (currentImgIndex + 1) % document.querySelectorAll('.pro_img_loop').length;
        mainImg.src = "/uploads/products/" + document.querySelectorAll('.pro_img_loop')[currentImgIndex].src.split("/").pop();
    }


    async function addtocart(id,cartcount) {
    event.preventDefault(); 
    try {
        const path = document.getElementById('add-to-cart-btn-' + id).innerText;
        let response;

        if (path == 'ADD TO CART') {
            const sizeElement = document.querySelector('input[name="size"]:checked');
            const colorElement = document.querySelector('input[name="color"]:checked');
            const quantityElement = document.querySelector('select[name="quantity"]');
            
            let size = '';
            let color = '';
            let quantity = '';

            if (sizeElement) {
                size = sizeElement.value;
            }

            if (colorElement) {
                color = colorElement.value;
            }

            if (quantityElement) {
                quantity = quantityElement.value;
            }

            response = await fetch(`/user/addToCart?productid=${id}&size=${size}&color=${color}&quantity=${quantity}`, { method: 'GET', headers: { 'Content-Type': "application/json" } });
        } else if (path == 'GO TO CART') {
            window.location.href = '/user/cart'; // Redirect to the cart page
            return;
        } else {
            alert("This item is already in your cart.");
            return;
        }

        if (!response.ok) {
            window.location.href = '/user/login';
            return;
        } 

        const result = await response.json();

        if (result.success == true) {
            const cartLink = document.getElementById('add-to-cart-btn-' + id);
            cartLink.setAttribute('href', '/user/cart');
            cartLink.innerText = "GO TO CART";
            const cartCount = document.getElementById('cart-Count');
            if (cartCount) {
              cartCount.innerHTML = parseInt(cartcount)+1;
            } else {
              console.error("Element with ID 'wish-count' not found.");
            }
        } else {
            message.innerHTML = result.error || "Unknown error";
        }
    } catch (error) {
        console.error('Error adding product:', error);
    }
}


function submitBuyNowForm() {
        document.getElementById('buy-now-form').submit();
    }




    function gotocart(id) {
    event.preventDefault(); 
    window.location.href = '/user/cart';
}


</script>
<script src="/js/search.js"></script>
<%- include('../common/end.ejs') %>
