<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
rel="stylesheet">
	<link rel="stylesheet" href="/css/admin/dashboard.css">
    <link rel="stylesheet" href="/css/user.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<title>AdminSite</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smile icon'></i> AdminSite</a>
		<ul class="side-menu">
			<li><a href="/admin/adminhome" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li><a href='/admin/addproduct'><i class='bx bxs-inbox icon' ></i> Add Product</a></li>
			<li><a href='/admin/products'><i class='bx bxs-chart icon' ></i> Products</a></li>
			<li><a href="/admin/categories" ><i class='bx bxs-widget icon' ></i> Categories</a></li>
			<li><a href="/admin/userslist"><i class='bx bx-table icon' ></i> Users List</a></li>
			<li><a href="/admin/couponlist" ><i class='bx bxs-notepad icon' ></i>Couponlist </a></li>
			<li><a href="/admin/adminorders"><i class='bx bx-table icon' ></i> Orders List</a></li>
            <li><a href="/admin/bannerlist" class="active"><i class='bx bxs-notepad icon' ></i>Bannerlist </a></li><br>
            <li><a href="/admin/blockedusers" style="color: rgb(251, 50, 50);"><i class='bx bx-table icon'  ></i>Blocked Users </a></li>
		</ul>
		
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="/admin/search">
				<div class="form-group">
				</div>
			</form>
			<span class="divider"></span>
			<div class="profile" style="cursor:pointer;" onclick="window.location.href='/user/logout'">
				<span class="material-symbols-outlined">
                    move_item
                    </span>
			</div>
		</nav>
		
		<main>
            <h1 class="title" style="padding-left: 10px;">Edit Banner</h1>
			<ul class="breadcrumbs"style="padding-left: 10px;">
				<li><a href="/admin/adminhome">Home</a></li>
				<li class="divider">/</li>
				<li><a href="/admin/bannerlist" > Bannerlist</a></li>
				<li class="divider">/</li>
				<li><a href="" class="active"> Edit Banner</a></li>
			</ul>
			<form class="banner" action="/admin/editbannerPost?id=<%=bannerData._id %>"  method="post" enctype="multipart/form-data">
				<div class="data3" >
					<div class="content-data3" >
						<label for="categoryName" style="font-weight: bold; font-size: larger;padding-bottom: 20px; padding-left: 35%;">Edit Banner</label ><br><br>
							<!-- Display success messages -->
                            <div class="imagefull1">
                                
                                <div class="profileimgbox1">
                                    <img  src="/uploads/banners/<%=bannerData.bannerImage %>" alt="submit" name="image" id="imagePreview" class="bannerimage" width="100%" height="100%"  >
                                    
                                    
                                </div>
                                <div class="choose1">
                                    <div class="choose1inner1">
                                       
                                        <input type="file"  name="bannerImage" onchange="previewImage(this)" id="banner_image" class="bannerImageADD">
                                    </div>
                                </div>
                            </div><br>

	
							<div class="bannerName" style="font-weight: bold;margin-left: 15%;">Banner Name</div>
							<input type="text" id="bannerName" name="bannerName" value="<%=bannerData.bannerName %>" style="margin-left: 15%;width: 70%; height: 5%; border: 2px solid black; border-radius: 5px; padding-left: 5px;" placeholder="Enter Banner Name" required ><br><br>

							<div class="startDate" style="font-weight: bold;margin-left: 15%;">Start Date</div>
							<input type="date" id="startDate" name="startDate" value="<%= bannerData.startDate.toISOString().substring(0, 10)%>" oninput="formatDateInput(this)" style="margin-left: 15%;width: 70%; height: 5%; border: 2px solid black; border-radius: 5px; padding-left: 5px;" required><br><br>

							<div class="endDate" style="font-weight: bold;margin-left: 15%;">Expiry Date</div>
							<input type="date" id="endDate" name="endDate" value="<%= bannerData.endDate.toISOString().substring(0, 10)%>" oninput="formatDateInput(this)" style="margin-left: 15%;width: 70%; height: 5%; border: 2px solid black; border-radius: 5px; padding-left: 5px;" required><br><br>
							<div class="message" style="color: rgb(183, 21, 21);margin-bottom: 10px;margin-left: 15%; font-weight: bold;"></div>
							<button type="submit" class="submit" style="height: 5%; width: 50%; display: flex; align-items: center; justify-content: center;margin-left: 25%;" >Submit</button>
						</div>
						<div style="width: 50%;"></div>
						
						
				
			</form>
			
			
		
			
		</main>
		<!-- MAIN -->
	</section>
	
	<script>
		function previewImage(input) {
			var file = input.files[0];
			if(file){
			var reader = new FileReader();
			reader.onload = function (e) {
				document.getElementById('imagePreview').src= e.target.result;
			};
			reader.readAsDataURL(file);
		}else{
			document.getElementById("imagePreview").setAttribute('src', 'https://via.placeholder.com/150');
			}
		}

		
	</script>
	<script>
		
		function formatDateInput(input) {
			const dateValue = input.value;
			const formattedDate = moment(dateValue).format('YYYY-MM-DD');
			
			input.value = formattedDate;
		}
	</script>


	<script src="/js/script.js"></script>
</body>
</html>