<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/css/admin/dashboard.css">
    <link rel="stylesheet" href="/css/user.css">
	<title>AdminSite</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smile icon'></i> AdminSite</a>
		<ul class="side-menu">
			<li><a href="/admin/adminhome" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li><a  onclick="window.location.href='/admin/addproduct'"><i class='bx bxs-inbox icon' ></i> Add Product</i></a></li>
			<li><a class="active" href="/admin/products"><i class='bx bxs-chart icon' ></i> Products</a></li>
			<li><a href="#"><i class='bx bxs-widget icon' ></i> Widgets</a></li>
			<li><a href="/admin/userslist"><i class='bx bx-table icon' ></i> Users List</a></li>
			<li><a href="/admin/couponlist"><i class='bx bxs-notepad icon' ></i>Couponlist</a></li>
            <li><a href="/admin/bannerlist"><i class='bx bxs-notepad icon' ></i>Bannerlist </a></li><br>
            <li><a href="/admin/blockedusers" style="color: rgb(251, 50, 50);"><i class='bx bx-table icon'  ></i>Blocked Users </a></li>
		</ul>
		
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form>
				<div class="form-group">
					<input type="text" placeholder="Search...">
					<i class='bx bx-search icon' ></i>
				</div>
			</form>
			<a href="#" class="nav-link">
				<i class='bx bxs-bell icon' ></i>
				<span class="badge">5</span>
			</a>
			<a href="#" class="nav-link">
				<i class='bx bxs-message-square-dots icon' ></i>
				<span class="badge">8</span>
			</a>
			<span class="divider"></span>
			<div class="profile">
				<img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
				<ul class="profile-link">
					<li><a href="#"><i class='bx bxs-user-circle icon' ></i> Profile</a></li>
					<li><a href="#"><i class='bx bxs-cog' ></i> Settings</a></li>
					<li><a href="#"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title" style="padding-left: 10px;">Edit Product</h1>
			<ul class="breadcrumbs"style="padding-left: 10px;">
				<li><a href="/admin/adminhome">Home</a></li>
				<li class="divider">/</li>
				<li><a href="/admin/products" >Products</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Edit Products</a></li>
			</ul>
			<div class="productsfull">
				<div class="productform">
					<form class="specdetail" action="/admin/editproductpost/<%=productDetails._id %>" method="post" enctype="multipart/form-data">

                            
						<div class="imagefull">
							<div class="addproducthead"></div>
							<div class="profileimgbox">
								<img src="/uploads/products/<%= productDetails.productImage[0] %>" alt="submit" id="imagePreview" class="productimage" width="80%" height="100%"  >
								
								
							</div>
							<div class="choose">
								<div class="chooseinner1">
									choose pic
									<input type="file" name="image" multiple onchange="previewImage(this)" class="profileImageADD">
								</div>
							</div>
						</div>
						<div class="productdetails">
							<label for="productName">Product Name</label><br>
				<input type="text" id="productName" name="productName" value="<%= productDetails.productName %>" required><br><br>
		
				<label for="price">Price</label><br>
				<input type="text" id="price" name="price" value="<%= productDetails.price %>"><br><br>
		
				<label for="category">Category</label><br>
				<select style="height: 35px; width: 80%;" id="size"  name="category" required>
					<option onchange="select(e)" value="<%= productDetails.category %>"><%= productDetails.category %></option>
					<% categoryList.forEach((category)=>{ %>
					<option onchange="select(e)" value="<%=category.categoryName%>"><%=category.categoryName%></option>
					<% }) %>
				</select><br><br>

				<label for="subcategory">Sub Category</label><br>
				<select style="height: 35px; width: 80%;" id="size" name="subcategory" required>
					<option onchange="select(e)" value="<%= productDetails.subcategory %>"><%= productDetails.subcategory %></option>
					<% categoryList.forEach((category) => { %>
						<% category.subCategory.forEach((sub) => { %>
							<option onchange="select(e)" value="<%= sub %>"><%= sub %></option>
						<% }) %>
					<% }) %>
				</select> <br><br>

				<div style="display: flex; gap:1rem; width: 100%;">
					<span style="display: flex; flex-direction: column; gap: .2rem;">
						<label for="size">Size</label>
						<div class="color_drop">
							<p><%= productDetails.size %></p>
							<ul class="drop_bar">
								<li><input type="checkbox" name="size" id="S" class="size" value="S"><label
										for="S">S</label></li>
								<li><input type="checkbox" name="size" id="M" class="size" value="M"><label
										for="M">M</label></li>
								<li><input type="checkbox" name="size" id="L" class="size" value="L"><label
										for="L">L</label></li>
								<li><input type="checkbox" name="size" id="XL" class="size"
										value="XL"><label for="XL">XL</label></li>
								<li><input type="checkbox" name="size" id="2XL" class="size"
										value="2XL"><label for="2XL">2XL</label></li>
							</ul>
						</div>
					</span>

					<span style="display: flex; flex-direction: column; gap: .2rem;">
						<label for="size">Color</label>
						<div class="color_drop ">
							<p><%= productDetails.color %></p>
							<ul class="drop_bar">
								<li><input type="checkbox" name="color" class="color" id="green"
										value="green"><label style="color: rgb(0, 195, 0);"
										for="green">green</label></li>
								<li><input type="checkbox" name="color" class="color" id="black"
										value="black"><label for="black" style="color: black;">black</label>
								</li>
								<li><input type="checkbox" name="color" class="color" id="red"
										value="red"><label style="color: red;" for="red">red</label></li>
								<li><input type="checkbox" name="color" class="color" id="orange"
										value="orange"><label style="color: orange;"
										for="orange">orange</label></li>
								<li><input type="checkbox" name="color" class="color" id="pink"
										value="pink"><label style="color: rgb(216, 118, 135);"
										for="pink">pink</label></li>
							</ul>
						</div>
					</span>
					<span style="display: flex; flex-direction: column; gap: .2rem;">
						<label for="returnproduct">Return</label>
						<input type="checkbox" name="returnproduct" class="returnproduct" id="returnproduct" value="<%=productDetails.returnproduct%>=='true'?:''">
					</span>
				</div>

		
				<label for="discount">Discount Price</label><br>
				<input type="text" id="discount" name="discount" value="<%= productDetails.discount %>"><br><br>

				<label for="deliverydate">Delivery within</label><br>
				<input type="deliverydate" id="deliverydate" name="deliverydate" value="<%= productDetails.deliverydate %> "><br><br>
		
				<div class="description"><label for="description">Description</label><br>
					<textarea id="description" name="description" class="description" ><%= productDetails.description %></textarea></div><br>
		
				<label for="quantity">Stock</label><br>
				<input type="text" id="quantity" name="quantity" value="<%= productDetails.quantity %>" >
				<button class="submit" >Submit</button>
				<div class="errorMsg" style="color: rgb(183, 21, 21);margin-bottom: 10px; font-weight: bold;"></div>

						</div>
				
					</form>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
	<script>
		function previewImage(input) {
			var file = input.files[0];
			if(file){
			var reader = new FileReader();
			reader.onload = function (e) {
				document.getElementById('imagePreview').src= e.target.result;
			};
			reader.readAsDataURL(file);
		}else{
			document.getElementById("imagePreview").setAttribute('src', 'https://via.placeholder.com/150');
			}
		}
	</script>

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="/js/script.js"></script>
</body>
</html>