<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
rel="stylesheet">
	<link rel="stylesheet" href="/css/admin/dashboard.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<title>AdminSite</title>
</head>

<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smile icon'></i> AdminSite</a>
		<ul class="side-menu">
			<li><a href="/admin/adminhome" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li><a href='/admin/addproduct'><i class='bx bxs-inbox icon' ></i> Add Product</i></a></li>
			<li><a href='/admin/products' ><i class='bx bxs-chart icon' ></i> Products</a></li>
			<li><a href="/admin/categories"  ><i class='bx bxs-widget icon' ></i> Categories</a></li>
			<li><a href="/admin/userslist"><i class='bx bx-table icon' ></i> Users List</a></li>
			<li><a href="/admin/couponlist"><i class='bx bxs-notepad icon' ></i>Couponlist </a></li>
            <li><a href="#" class="active"><i class='bx bx-table icon' ></i> Orders List</a></li>
            <li><a href="/admin/bannerlist"><i class='bx bxs-notepad icon' ></i>Bannerlist </a></li><br>
            <li><a href="/admin/blockedusers" style="color: red;"><i class='bx bx-table icon'  ></i>Blocked Users </a></li>
		</ul>
		
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="/admin/search">
				<div class="form-group">
					
				</div>
			</form>
			
			<span class="divider"></span>
			<div class="profile" style="cursor:pointer;" onclick="window.location.href='/user/logout'">
                <span class="material-symbols-outlined">
                    move_item
                    </span>
				
				
			</div>
		</nav>
		
		<main>
            <form >
            <h1 class="title" style="padding-left: 10px;">Users List</h1>
			<ul class="breadcrumbs"style="padding-left: 10px;">
				<li><a href="/admin/adminhome">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Users List</a></li>
			</ul>
            <div class="productsfull">
                <div class="productform">
                    <table class="table" style="font-size: small;">
                        <thead class="thead-dark">
                            <tr>
                                <th>User id </th>
                                <th>Order id</th>
                                <th>Product Name</th>
                                <th>Order date</th>
                                <th>Order Status</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=orders.length-1;i>=0;i--) { %>
                                <tr class="row<%= orders[i]._id %>">
                                    <td data-userid="<%= orders[i].userid %>"><%= orders[i].userid %></td>
                                    <td><%= orders[i]._id %></td>
                                    <td><%= orders[i].productsid[0].productid.productName %></td>
                                    <% const date = orders[i].orderdate.toISOString().substring(0, 10) %>
                                    <td><%= date %></td>
                                    
                                    <td>
                                        <%if(orders[i].status == "Cancelled"){%>
                                            <button type="button" id="select-button<%= orders[i]._id %>" class="select-button" ><%= orders[i].status %></button>

                                            <%} else if(orders[i].status=="Delivered") {%>
                                                <button type="button" id="select-button<%= orders[i]._id %>" class="select-button" ><%= orders[i].status %></button>
                                                <%}else{%>

                                        <!-- New td with button for selecting order status -->
                                        <button type="button" id="select-button<%= orders[i]._id %>" class="select-button" onclick="showRadioButtons('<%= orders[i]._id %>')"><%= orders[i].status %></button>

                                        <!-- Container for radio buttons (initially hidden) -->
                                        <div id="radioButtons<%= orders[i]._id %>" style="display: none;">
                                            <input type="radio" id="Confirmed<%= orders[i]._id %>" name="orderStatus<%= orders[i]._id %>" value="Confirmed" >
                                            <label for="Confirmed<%= orders[i]._id %>" onclick="selectRadioButton('Confirmed<%= orders[i]._id %>')">Confirmed</label>

                                            <br>
                                            <input type="radio" id="Shipped<%= orders[i]._id %>" name="orderStatus<%= orders[i]._id %>" value="Shipped">
                                            <label for="shipped<%= orders[i]._id %>" onclick="selectRadioButton('Shipped<%= orders[i]._id %>')">Shipped</label>
                                            <br>
                                            <input type="radio" id="Delivered<%= orders[i]._id %>" name="orderStatus<%= orders[i]._id %>" value="Delivered">
                                            <label for="delivered<%= orders[i]._id %>" onclick="selectRadioButton('Delivered<%= orders[i]._id %>')">Delivered</label>
                                        </div>
                                        <%}%>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

            </div>
        </form>
		</main>
		<!-- MAIN -->
	</section>
	
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

       
    <script>
        function showRadioButtons(orderId) {
            const radioButtons = document.getElementById(`radioButtons${orderId}`);
            if (radioButtons.style.display === "none") {
                radioButtons.style.display = "block";
            } else {
                radioButtons.style.display = "none";
            }
        }


        document.querySelectorAll('[name^="orderStatus"]').forEach(radioButton => {
            radioButton.addEventListener('click', function() {
                const orderId = this.name.replace('orderStatus', '');
                const userId = this.closest('tr').querySelector('td').dataset.userid;
                const selectedValue = document.querySelector(`[name="orderStatus${orderId}"]:checked`).value;
                document.getElementById(`select-button${orderId}`).innerHTML = selectedValue;
                showRadioButtons(orderId); // Hide the radio buttons after selecting an option

                fetch(`/admin/orderstatus?orderId=${orderId}&userId=${userId}&status=${selectedValue}`, {
                    method: 'GET'
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data); // Handle response data as needed
                })
                .catch(error => {
                    console.error('There was a problem with your fetch operation:', error);
                });
            });
        });


        function selectRadioButton(radioButtonId) {
    const radioButton = document.getElementById(radioButtonId);
    radioButton.checked = true;
    radioButton.dispatchEvent(new Event('click')); // Trigger click event to update UI
}


    


    </script>
    




	<script src="/js/script.js"></script>
</body>
</html>